#box-shadow {
	width: 720px;
	margin: 10px auto;
	/* background: #555; */
	background: url(../img/black_linen_v2.png) #444;
	border-radius: 10px;
	border: 1px solid #cccccc;
	padding: 10px;
	font-family: Helvetica, Arial, Sans-Serif;
}
#sample-box-panel {
	height: 164px;
	background: #ffffff url(../img/old_mathematics.png);
	border: 1px solid gray;
	margin-bottom: 10px;
}
#sample-box {
	width: 100px;
	height: 100px;
	margin: 32px auto;
	background: #aaaa00;
}
#controls {
	width: 15em;
	float: left;
	background: #444;
	color: #eee;
	padding: 5px;
	font-size: 12px;
}
#controls div {
	margin: 0px 0px;
}
#controls label {
	float: left;
	width: 4em;
}
#controls input {
	width: 5em;
	background: #000;
	color: orange;
}
#css-output {
	margin-left: 1em;
	width: 30em;
	font-family: monospace;
	background: #000;
	color: orange;
	border: 1px solid white;
}
