<!DOCTYPE html>
<html>

<head>
<title>CSS3 Studio: box-shadow</title>
<link href="style.css" media="all" rel="stylesheet" type="text/css"/>
</head>

<body>

<header>
	<h1><a href="http://www.w3.org/TR/css3-background/#the-box-shadow">box-shadow</a> tool<h1>
</header>

<article class="widget box-shadow">
	<section id="sample-box">
	</section>
	<section id="controls">
	</section>
	<section id="css-output">
		<textarea></textarea>
	</section>
</article>

<footer>
	<p>This is the footer</p>
</footer>

<!-- <script type="text/template" id="item-template">
	<div class="todo <%= done ? 'done' : '' %>">
		<div class="display">
			<input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
			<div class="todo-text"></div>
			<span class="todo-destroy"></span>
		</div>
		<div class="edit">
			<input class="todo-input" type="text" value="" />
		</div>
	</div>
</script>

<script type="text/template" id="stats-template">
	<% if (total) { %>
		<span class="todo-count">
			<span class="number"><%= remaining %></span>
			<span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
		</span>
	<% } %>
	<% if (done) { %>
		<span class="todo-clear">
			<a href="#">
				Clear <span class="number-done"><%= done %></span>
				completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
			</a>
		</span>
	<% } %>
</script> -->
	 
<script src="js/json2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="http://code.jquery.com/jquery-1.6.2.min.js"><\/script>');</script>
<script src="js/underscore-1.1.6.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone-localstorage.js"></script>
<script src="js/script.js"></script>

</body>

</html>