html {
	background: #eeeeee;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
	background: #bbb;
   color: #333333;
}
article {
	width: 720px;
	margin: 0 auto;
	background: #555;
	border-radius: 10px;
	border: 1px solid #cccccc;
	padding: 10px;
}
#sample-box-panel {
	height: 164px;
	background: #ffffff;
	border: 1px solid gray;
}
#sample-box {
	width: 128px;
	height: 128px;
	margin: 0 auto 80px;
	background: #aaaa00;
}
#controls {
	width: 15em;
	float: left;
	background: #444;
	color: #eee;
}
#controls label {
	float: left;
	width: 4em;
}
#controls input {
	width: 5em;
	background: #000;
	color: orange;
}
#css-output {
	margin-left: 1em;
	/* float: right; */
	width: 30em;
	font-family: monospace;
	background: #000;
	color: orange;
}
